server:
  port: ${PORT:8080}

spring:
  application:
    name: financing-offer-api
  
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require}
    username: ${DATABASE_USERNAME:postgres.lcppzendmlaikynqfjuy}
    password: ${DATABASE_PASSWORD:G*C2H72s2Mv*8Lg}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    user:
      name: ${ADMIN_USERNAME:admin}
      password: ${ADMIN_PASSWORD:admin123}

# JWT Configuration
jwt:
  secret: ${JWT_SECRET:0ZVBBt8z6UBs2OIfumc0mjj8k12uawB9m18iaZmnPjedlNCTKzL4uGqO7WrAYA3uDZktMlSyPhp4BieUqBQNQw==}
  expiration: ${JWT_EXPIRATION:86400000} # 24 hours

# CORS Configuration
cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}
  allowed-methods: ${CORS_ALLOWED_METHODS:GET,POST,PUT,DELETE,PATCH,OPTIONS}
  allowed-headers: ${CORS_ALLOWED_HEADERS:*}
  allow-credentials: ${CORS_ALLOW_CREDENTIALS:true}

logging:
  level:
    com.kavak: DEBUG
    org.springframework.security: DEBUG

